/* Простые селекторы*/
.video-container{
   display: inline-block;
   padding-left: 1%;
   padding-top: 1%;
}

.user-name{
    font-style: italic;
    font-weight: bold;
}
.review-date {
    font-size: 13px;
    font-style: italic;
}
.navbar {
    color: darkgray;
}
.review-data {
    background-color: #FFFAF8;
    border: 1px solid gray;
    margin-top: 10px;
}
.rewiew-rate {
    border: 0px solid gray;
    background-color: floralwhite;
    font-size: 16px
}
.button {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    background-color: #2A0E17;
    border: 1px solid gray;
    color: floralwhite;
    font-size: 16px
}

.slider-box {
    position: relative;
    margin: 0 auto 0;
    width: 100%;
    height: 30%;
}
.slider-item {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 2;
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: none;
}


.slider-list {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.slider-item:active {
    opacity: 1;
}

.slider-box button {
    position: absolute;
    top: 50%;
    height: 40px;
    border-radius: 1px;
    transform: translateY(-50%);
    z-index: 1;
    color: #2A0E17;
    background-color: floralwhite;
    border-color: transparent;
    font-size: 20px;
    opacity: 0.5;
}
    .slider-box button:hover {
        opacity: 0.8;
    }
    .slider-box button:active {
        opacity: 1;
    }
    .slider-box .prev-button {
        left: 10px;
    }

    .slider-box .next-button {
        right: 10px;
    }
.navbar a {
        text-decoration-line: none;
        color: floralwhite;
}
.navbar p {
        padding-left: 15%;
        padding-bottom: 2%;
        padding-top: 2%;
        

}
    .navbar p:hover {
        background: radial-gradient(#B4A89A, #2A0E17);
    }
.review-block {
    padding-left: 1%;
    padding-top: 1.2%;
}
/*Глобальные стили для хедеров на всём сайте*/
header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}
#main-header {
    color: #2A0E17;
}
footer {
    position: fixed;
    bottom: 0;
    right: 1%;
    font-size: medium;
    color: #69565C;
    line-height: 66%
}
aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 15%;
    position: fixed; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #2A0E17; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}
body{
   padding-left: 16%;
   background-color: floralwhite;
   padding-right: 2%;
}