<script type="text/javascript" defer src="../Static/Scripts/slider.js"></script>

<div class="slider-box" >
    <div class="slider-list" id="slider_list">
            <img class="slider-item" src="../Static/Image/Moskow.jpeg" alt="" draggable="false"/>
            <img class="slider-item" src="../Static/Image/New York.jpeg" alt="" draggable="false" />
            <img class="slider-item" src="../Static/Image/London.jpeg" alt="" draggable="false" />
    </div>
        <button class="prev-next-button prev-button">&#9668;</button>
        <button class="prev-next-button next-button">&#9658;</button>

</div>
