<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../Static/Scripts/about.js"></script>

</head>
<body>
    <header id="header-index">
        <h1>LifeSpot - о проекте</h1>
        <p>Данный сайт позволяет посмотреть трансляции улиц разных городов мира</p>
        <p>Здесь вы можете оставить отзыв о проекте</p>
    </header>
    <div class="review-block">
        <h2 class="review-header">
            Отзывы о проекте
        </h2>
        <div class="reviews-data">
            <p>
                Отзывов пока нет
            </p>
        </div>
        <button class="review-button" onclick="addReview()">
            Написать отзыв
        </button>
    </div>

    <!--SIDEBAR-->
    <!--FOOTER-->
</body>
</html>