<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../Static/Scripts/index.js"></script>


</head>
<body>
    <header id="main-header">
        <h1>
            LifeSpot — прямые трансляции с улиц
        </h1>
        <p>
            Здесь вы можете находит себя на улице
        </p>
        <input type="text" oninput="FilterContent()" size=50%/>
    </header>
    <main>
        <!--Сайд-бар страницы!-->
        <aside id="sidebar">
            <div class="navbar">
                <a href="/"><p>Все трансляции</p></a>
                <a href="/"><p>О проекте</p></a>
            </div>
        </aside>

        <div class="block">

            <div class="video-container">
                <h3 class="video-title">Москва: улица авиаторов</h3>
                <iframe width="373" height="210" src="https://www.youtube.com/embed/rWOCjna6x2I?si=teEd3iSeZVCRU_fJ"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <h3 class="video-title">Нью-Йорк: Тайм-Сквер</h3>
                <iframe width="373" height="210" src="https://www.youtube.com/embed/GKxFrvv7avk?si=_6SzegyzqNxt9Zzr"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <h3 class="video-title">Лондон, автобусный маршрут</h3>
                <iframe width="373" height="210" src="https://www.youtube.com/embed/JplMzss6_YE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

        </div>
    </main>
    <footer>
        <p>
            Разработчик
        </p>
        <p>
            Волкова Екатерина
        </p>
    </footer>
</body>
</html>